<header id="logo" class="page-wrap">
    {{#if @blog.logo}}
    	<a id="logo-image" href="{{@blog.url}}">
    		<img src="{{@blog.logo}}" alt="{{@blog.title}} - {{@blog.description}}" />
    	</a>
    {{else}}
	    <h1 class="blog-title">
	    	<a href="{{@blog.url}}">{{@blog.title}}</a>
	    </h1>
	    <h2 class="blog-desc">
	    	<a href="{{@blog.url}}">{{@blog.description}}</a>
	    </h2>

	    <ul>
	    	<li class="first"><a href="/the-couple">The couple</a></li>
	    	<li><a href="/the-day">The day</a></li>
	    	<li><a href="/location">Location</a></li>
	    	<li><a href="/accommodation">Accommodation</a></li>
	    	<li><a href="/gift-list">Gift list</a></li>
	    	<li><a href="/contact">Contact</a></li>
	    </ul>
    {{/if}}
</header>